@import 'src/styles/_variables.scss';

.page {
  padding: 8px 16px 16px 16px;

  @include mediaXS() {
    padding: 0;
  }
}

.bottomMobileMenuSafeArea {
  padding: $bottom-menu-padding;
  height: $bottom-menu-height;
}
.header {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 12px;
}
