@import 'src/styles/_variables.scss';

.topPanel {
  position: sticky;
  top: 0;
  height: 64px;
  background: $gray-1;

  display: flex;
  align-items: center;

  box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 12px;
}

.backButton {
  margin-left: 12px;
  cursor: pointer;
  font-size: 20px;
  min-width: 32px;
}
